<!DOCTYPE html>
<html>

<%- include('./partials/head') %> 

<body>
  <%- include('./partials/header') %> 

<main class="agregar">

  <H2>AGREGAR PRODUCTO</H2>

    
    
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">titulo</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="escribir titulo " name="name" value="<%= locals.old && old.name ? old.name : null %>">
              <h3 class="small alert-danger"><%= locals.errores && errores.name ? errores.name.msg : null%> </h3>

            </div>



              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">descripcion</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" name="description" value="<%= locals.old && old.description ? old.description : null %>">
                <h3 class="small alert-danger"><%= locals.errores && errores.description ? errores.description.msg : null%> </h3>
              </div>
          
          
            <div class="mb-3">
              <select class="form-select"  required aria-label="select example" name="categoryId">
                <option value="">seleccione una categoria</option>
                <% categorias.forEach(categoria => { %>
                  <option value="<%= categoria.id %>"<%= locals.old && old.categoryId === categoria.id ? 'selected' : null%> ><%= categoria.name %></option>
                <% }) %> 
              </select>
              <h3 class="small alert-danger"><%= locals.errores && errores.category ? errores.category.msg : null%> </h3>

              <br>
          
            <div class="mb-3">
              <label for="productImagen" class="form-label">imagen</label>
              <input type="file" class="form-control" id="productImagen" name="images" accept="image/*" multiple><!-- required -->
              
            </div>
          
            <div class="mb-3">
              <button class="btn btn-primary" type="submit" >Enviar </button>
            </div>
          
    </form>
</main>

  
<%- include('./partials/footer') %>
  <%- include('./partials/scripts') %>
</body>

</html>